################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TestProjectUnitTests/.vs/UnitTests/v15/Server/sqlite3
/TestProjectUnitTests/log.xml
/TestProjectUnitTests/log.html
